body{
  background-color: #F7F3F3;
  margin:0px;
}

/*头部搜索*/
.container_header_search_css {
  background:linear-gradient(#a8f39b,#f3eb24);
  position: fixed;
  width: 100%;
  top:0px;
}
.row_header_search_class{
  padding: 30px 0px 10px 10px;
}
.header_search_input_css{
  width:100%;
  height: 25px;
  margin-top: -6px;
}

/*24小时与一口价切换*/
.switch_css{
  text-align: center;
  height: 50px;
  line-height: 50px;
}

/*切换栏显示区*/
.container_content_css{
  margin-bottom:60px;
  margin-top: 5px;
}
.goods_message_css{
  border: 1px solid gray; 
  margin:2px;
  overflow:hidden;
}
.goods_message_header_css{
  overflow:hidden;
  border-bottom:1px solid gray
}
.goods_message_avatar_css{
  padding:2%
}
.goods_message_sellersName_css{
  padding-top: 10px;
  padding-bottom: 10px;
}
.goods_message_title_css{
  padding:2%;
  font-size: 14px;
}
.goods_message_remainTime_css{
  padding:0 2% 2% 2%;
  color: #e82525;
}
.goods_message_button_css{
  text-align: center;
  border: 1px solid #efd9d9;
  margin: 5%;
  border-radius: 10px;
  padding: 4%;
  background: #e6d9d9;
}

/*导航栏*/
.container_navigation_css{
  position: fixed;
  width: 100%;
  bottom: 0px;
  background: #F7F3F3;
  padding-top: 10px;
  box-shadow: 0px 1px 10px #BDB8B8;
}
.row_navigation_css li{
  width: 20%;
  height: 40px;
  float: left;
  list-style: none;
  text-align: center;
  line-height: 40px;
  color: rgba(245, 35, 12, 0.65);
}

